/* ==========================================================================
   [PAGE: SCP] 삼성 클라우드 플랫폼 SCP 섹션 블록
   - SCP 테마 변수
   ========================================================================== */

/* ==========================================================================
   [PAGE: SCP] 테마 변수
   ========================================================================== */
.offering-main {
    .scp {
        --hero-background: transparent;
        --main-font-color: #fff;
        --sub-font-color: #fff;
        --primary-button-bg: #1778ea;
        --primary-button-color: #fff;
        --primary-button-border: #1778ea;
        --secondary-button-bg: #fff;
        --secondary-button-color: #1778ea;
        --secondary-button-border: #ccc;
    }

}
